nav {
  position: relative;
  width: 100vw;
  height: 25vh;
  font-family: albiona, sans-serif;
  font-weight: 600;
}

.main-nav {
  padding: 0.5rem 1rem;
  margin: 0;
  width: 100vw;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2a2d34;
}

.main-nav .logo {
  max-width: 100%;
  max-height: 100%;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.main-nav .logo img {
  max-width: 50%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-nav .logo h2 {
  display: none;
}

.main-nav .main-links {
  width: 40%;
  height: 100%;
  padding-right: 1rem;
  color: #f4fff8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.main-nav .main-links a {
  color: #fffbfe;
  text-decoration: none;
}

.main-nav .main-links i {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.main-nav .main-links .nav-cart {
  position: relative;
}

.main-nav .main-links .nav-cart span {
  position: absolute;
  font-size: 0.8rem;
  padding: 3px 5px;
  background-color: #a33b20;
  border-radius: 50%;
  color: #fffbfe;
  vertical-align: top;
  margin-left: -5px;
}

.main-nav .main-links button {
  color: #f4fff8;
  background: transparent;
  border: none;
  margin-top: 0.5rem;
  padding: 5px;
}

@media only screen and (max-width: 550px) {
  .main-nav .nav-cart-count {
    letter-spacing: 0;
  }
  .main-nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-nav .logo img {
    display: none;
  }
  .main-nav .logo h2 {
    display: block;
    color: #fffbfe;
    font-family: albiona, sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }
  .main-nav .main-links {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  .main-nav .main-links i {
    font-size: 0.8rem;
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 768px) {
  .main-nav .main-links .user,
  .main-nav .main-links .logOut {
    font-size: 0.5rem;
  }
  .main-nav .main-links .user {
    padding: 0;
    margin: 0;
  }
  .main-nav .main-links .userName {
    display: none;
  }
  .main-nav .main-links .nav-cart {
    width: 100%;
    font-size: 1.5rem;
  }
  .main-nav .main-links .nav-cart span {
    font-size: 0.7rem;
    padding: 2px;
  }
  .main-nav .main-links button {
    padding-right: 1rem;
  }
  .main-nav .main-links button span {
    display: none;
  }
  .main-nav .user {
    display: block;
  }
  .main-nav .logo {
    margin-left: 35%;
    -webkit-transform: translate(-35%);
            transform: translate(-35%);
    min-width: 100px;
    width: 90%;
    height: 100%;
    text-align: center;
  }
  .main-nav .logo img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.nav-links {
  height: 50%;
  position: absolute;
  width: 100%;
  background-color: #889696;
}

.nav-links ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #fffbfe;
  font-family: albiona, sans-serif;
  font-size: 500;
  font-size: 1.8rem;
}

.nav-links .active {
  -webkit-text-decoration: 3px underline solid #a33b20;
          text-decoration: 3px underline solid #a33b20;
}

.hamburger {
  display: none;
}

.hamburger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fffbfe;
}

@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .nav-links {
    z-index: 2;
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 87.5vh;
    top: 12.5vh;
    background-color: #2a2d34;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  }
  .nav-links ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-links a {
    color: #fffbfe;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

.container {
  width: 100%;
  margin: 5vh auto;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: -5vh;
  }
}

.banner-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.banner-container img {
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 40vh;
  width: 100%;
}

.product-container {
  width: 100%;
  margin: 10vh auto;
  text-align: center;
}

.product-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.product-container .favorites-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.product-container .favorite {
  margin: 1rem;
  background-color: transparent;
  width: 100%;
  height: 200px;
  border: none;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(70, 70, 85, 0.5), 0 6px 20px 0 rgba(70, 70, 85, 0.5);
          box-shadow: 0 4px 8px 0 rgba(70, 70, 85, 0.5), 0 6px 20px 0 rgba(70, 70, 85, 0.5);
}

@media only screen and (min-width: 550px) {
  .product-container .favorite {
    height: 300px;
  }
}

@media only screen and (min-width: 800px) {
  .product-container .favorite {
    width: 40%;
    height: 200px;
  }
}

@media only screen and (min-width: 1000px) {
  .product-container .favorite {
    width: 30%;
    height: 300px;
  }
}

.product-container .favorite-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.product-container .favorite-inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-container .favorite:hover .favorite-inner {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.product-container .favorite-front,
.product-container .favorite-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.product-container .favorite-front {
  background-color: #464655;
  color: #fffbfe;
}

.product-container .favorite-back {
  text-transform: capitalize;
  background-color: #464655;
  color: #fffbfe;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  padding: 100px 0;
}

.product-container .favorite-back h5,
.product-container .favorite-back p {
  font-family: forma-djr-micro, sans-serif;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .product-container {
    margin-top: 5vh;
  }
}

#display_image {
  margin: 10px;
  width: 375px;
  height: 211px;
  border: 1px solid #464655;
  background-position: center;
  background-size: cover;
}

.products-container {
  width: 100%;
  margin: 5vh auto;
}

@media only screen and (max-width: 768px) {
  .products-container {
    margin: -5vh auto 5vh;
  }
}

.search {
  display: block;
  width: 80%;
  margin: 0px auto;
  padding: 1rem 0.5rem;
  border: 1px solid #2a2d34;
}

.products {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: capitalize;
}

.product {
  width: 100%;
  background-color: #fffbfe;
  -webkit-box-shadow: 0 4px 8px 0 rgba(70, 70, 85, 0.5), 0 6px 20px 0 rgba(70, 70, 85, 0.5);
          box-shadow: 0 4px 8px 0 rgba(70, 70, 85, 0.5), 0 6px 20px 0 rgba(70, 70, 85, 0.5);
  margin: 1rem 0.5rem;
}

.product a {
  text-decoration: none;
  color: #2a2d34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product .product-img {
  width: 100px;
  height: 150px;
}

.product .product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product .product-info {
  width: 50%;
  text-align: center;
  font-size: 2rem;
}

@media only screen and (min-width: 500px) {
  .product {
    width: 45%;
  }
  .product a {
    display: block;
  }
  .product .product-img {
    width: 100%;
    height: 200px;
  }
  .product .product-info {
    width: 100%;
    height: 100px;
  }
}

@media only screen and (min-width: 700px) {
  .product {
    width: 30%;
  }
}

@media only screen and (min-width: 1030px) {
  .product {
    width: 20%;
  }
}

.detail-container {
  width: 80%;
  margin: 10vh auto;
}

.detail-container p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.detail-container h1 {
  font-size: 2rem;
  text-transform: capitalize;
  padding: 2rem 0 1.5rem;
}

.detail-container .detail-img {
  width: 100%;
  height: 40vh;
}

.detail-container .detail-img img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail-container .detail-infoPrice {
  margin-top: 20px;
}

.detail-container .detail-infoPrice p {
  text-align: left;
  padding-bottom: 1rem;
}

.detail-container .detail-info {
  max-width: 100%;
}

@media only screen and (min-width: 700px) {
  .detail-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 70vh;
  }
  .detail-container h1 {
    padding: 0 0 1.5rem;
    color: #a33b20;
  }
  .detail-container .detail-img {
    width: 40%;
  }
  .detail-container .detail-info {
    max-width: 60%;
    height: 100%;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .detail-container {
    margin: -5vh auto 5vh;
  }
}

.addCart {
  position: relative;
  padding: 2.5rem;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  background-color: #a33b20;
  outline: none;
  cursor: pointer;
  margin: 0 10px;
  color: #fffbfe;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.addCart:hover {
  background-color: #2a2d34;
  color: #fffbfe;
}

.addCart:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.addCart .fa-cart-arrow-down {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 2em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.addCart span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  font-size: 1.2em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.addCart span.addToCart {
  opacity: 1;
}

.addCart span.added {
  opacity: 0;
}

.addCart.clicked .fa-cart-arrow-down {
  -webkit-animation: cart 1.5s ease-in-out forwards;
          animation: cart 1.5s ease-in-out forwards;
}

.addCart.clicked span.addToCart {
  -webkit-animation: txt1 1.5s ease-in-out forwards;
          animation: txt1 1.5s ease-in-out forwards;
}

.addCart.clicked span.added {
  -webkit-animation: txt2 1.5s ease-in-out forwards;
          animation: txt2 1.5s ease-in-out forwards;
}

@-webkit-keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}

@keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}

@-webkit-keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}

@keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes txt2 {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes txt2 {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cart {
  width: 90%;
  margin: 10vh auto;
  background-color: #fffbfe;
  padding: 1rem;
  border: 1px rgba(70, 70, 85, 0.8);
  -webkit-box-shadow: 0 4px 8px 0 rgba(70, 70, 85, 0.5), 0 6px 20px 0 rgba(70, 70, 85, 0.5);
          box-shadow: 0 4px 8px 0 rgba(70, 70, 85, 0.5), 0 6px 20px 0 rgba(70, 70, 85, 0.5);
}

.cart a {
  text-decoration: none;
  color: #464655;
}

@media only screen and (max-width: 768px) {
  .cart {
    margin: -5vh auto 5vh;
  }
}

.cart-item {
  width: 100%;
  margin: 1rem 0;
}

.cart-item .cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.cart-item .cart-info div {
  margin-right: 1rem;
}

@media only screen and (min-width: 700px) {
  .cart-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cart-image {
  width: 30%;
  height: 100px;
}

.cart-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 700px) {
  .cart-image {
    height: 200px;
  }
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity i {
  color: #464655;
  font-size: 0.8rem;
  padding: 0.1rem;
}

.quantity input {
  width: 1.5rem;
  text-align: center;
}

.cart-price {
  text-align: end;
}

.total-container {
  width: 100%;
  margin: 1rem auto;
  text-align: end;
  font-size: 1.5rem;
}

.total-container p {
  margin-bottom: 1rem;
}

.edit-form .buttons {
  position: relative;
  margin: 1rem auto 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 700px) {
  .edit-form .buttons {
    display: block;
  }
}

.edit-form .buttons button {
  font-family: albiona, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fffbfe;
  border: 1px thin #a33b20;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 1.5rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(70, 70, 85, 0.5), 0 6px 20px 0 rgba(70, 70, 85, 0.5);
          box-shadow: 0 4px 8px 0 rgba(70, 70, 85, 0.5), 0 6px 20px 0 rgba(70, 70, 85, 0.5);
}

.edit-form .buttons .delete {
  position: absolute;
  background-color: transparent;
  color: #a33b20;
  border: 1px solid #a33b20;
  right: 0;
}

@media only screen and (max-width: 670px) {
  .edit-form .buttons .delete {
    position: relative;
  }
}

.edit-form .buttons #update {
  background-color: #a33b20;
}

.uploadImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured {
  background-color: #fffbfe;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 34px;
}

.featured span {
  position: absolute;
  cursor: pointer;
  background-color: #889696;
  top: 2px;
  bottom: 2px;
  left: 4px;
  right: 0;
  bottom: 0;
  content: "";
  height: 26px;
  width: 26px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.featured span.active {
  background-color: #a33b20;
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 1px #464655;
          box-shadow: 0 0 1px #464655;
}

footer {
  background-color: #2a2d34;
  margin-top: 40px;
  text-transform: uppercase;
}

.footerContainer {
  color: #fffbfe;
  padding-top: 40px;
}

.footerContainer a {
  color: #fffbfe;
  text-decoration: none;
}

.mediaLinks {
  width: 100%;
  padding-bottom: 40px;
}

.mediaLinks ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mediaLinks ul li {
  padding: 0px 3.5px;
  list-style: none;
}

.navigationLinks {
  max-width: 100%;
  padding-bottom: 40px;
}

.navigationLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigationLinks ul li {
  padding: 0px 24px;
  list-style: none;
}

.copyright {
  max-width: 100%;
  padding-bottom: 40px;
  text-align: center;
}

.copyright ul {
  margin: 0 auto;
}

.copyright ul li {
  padding: 0px 24px;
  list-style: none;
}

.container {
  min-height: 45vh;
}

.logInForm,
.edit-form,
.add-form {
  margin: 10vh auto;
  width: 80%;
  font-size: 16px;
  background: #889696;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(42, 45, 52, 0.5), 0 6px 20px 0 rgba(42, 45, 52, 0.5);
          box-shadow: 0 4px 8px 0 rgba(42, 45, 52, 0.5), 0 6px 20px 0 rgba(42, 45, 52, 0.5);
}

@media only screen and (min-width: 1000px) {
  .logInForm,
  .edit-form,
  .add-form {
    width: 60%;
  }
}

.logInForm h1,
.edit-form h1,
.add-form h1 {
  color: #fffbfe;
  margin-bottom: 1rem;
}

.logInForm input,
.logInForm label,
.edit-form input,
.edit-form label,
.add-form input,
.add-form label {
  text-align: left;
  text-transform: capitalize;
}

.logInForm div,
.edit-form div,
.add-form div {
  max-width: 100%;
  display: block;
  margin-bottom: 1rem;
  padding: 0;
  text-align: left;
}

@media only screen and (min-width: 650px) {
  .logInForm div,
  .edit-form div,
  .add-form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    margin: 1rem auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logInForm label,
.edit-form label,
.add-form label {
  display: block;
  color: rgba(255, 251, 254, 0.7);
}

.logInForm input,
.logInForm textarea,
.edit-form input,
.edit-form textarea,
.add-form input,
.add-form textarea {
  background: transparent;
  font-size: 16px;
  color: #fffbfe;
  border: none;
  border-bottom: 1px dashed #fffbfe;
  outline: none;
  padding: 5px 0;
}

@media only screen and (min-width: 650px) {
  .logInForm input,
  .logInForm textarea,
  .edit-form input,
  .edit-form textarea,
  .add-form input,
  .add-form textarea {
    width: 50%;
  }
}

.logInForm textarea::-webkit-scrollbar,
.logInForm textarea::-webkit-resizer,
.logInForm textarea::-webkit-scrollbar-corner,
.edit-form textarea::-webkit-scrollbar,
.edit-form textarea::-webkit-resizer,
.edit-form textarea::-webkit-scrollbar-corner,
.add-form textarea::-webkit-scrollbar,
.add-form textarea::-webkit-resizer,
.add-form textarea::-webkit-scrollbar-corner {
  background-color: transparent;
}

.logInForm textarea::-webkit-scrollbar-thumb,
.edit-form textarea::-webkit-scrollbar-thumb,
.add-form textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 251, 254, 0.7);
}

.logInForm button,
.edit-form button,
.add-form button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: #fffbfe;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(42, 45, 52, 0.2), 0 6px 20px 0 rgba(42, 45, 52, 0.2);
          box-shadow: 0 4px 8px 0 rgba(42, 45, 52, 0.2), 0 6px 20px 0 rgba(42, 45, 52, 0.2);
}

.logInForm button:hover,
.logInForm input:hover,
.edit-form button:hover,
.edit-form input:hover,
.add-form button:hover,
.add-form input:hover {
  background: #889696;
  color: #fffbfe;
}

.logInForm img,
.edit-form img,
.add-form img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.logInForm button {
  background-color: #a33b20;
}

.add-button {
  margin-top: 1rem;
  padding: 1.5rem;
  width: 50%;
  font-size: 1.5rem;
  font-family: albiona, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #a33b20;
  color: #fffbfe;
  border: 1px thin #a33b20;
}

.message {
  padding: 2rem;
  font-size: 2rem;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  -webkit-box-shadow: 0 4px 8px 0 rgba(42, 45, 52, 0.2), 0 6px 20px 0 rgba(42, 45, 52, 0.2);
          box-shadow: 0 4px 8px 0 rgba(42, 45, 52, 0.2), 0 6px 20px 0 rgba(42, 45, 52, 0.2);
}

.error {
  color: #fffbfe;
  border: 1px solid #a31621;
  background-color: #a31621;
}

.sucsess {
  color: #fffbfe;
  border: 1px solid #4da167;
  background-color: #4da167;
}

.warning {
  color: #464655;
  border: 1px solid #fffc31;
  background-color: #fffc31;
}

.loader {
  position: relative;
  display: block;
  margin: auto;
  padding: 0;
  width: 100vw;
  height: 15vh;
  text-align: center;
}

.loader div {
  position: relative;
  display: inline-block;
  margin: 0px 0.6rem;
  width: 1rem;
  height: 3rem;
  border-radius: 2px;
  border: solid #a33b20;
  border-width: 0 1px 1px 0;
  background: #a33b20;
  -webkit-animation: tilt infinite 5s;
          animation: tilt infinite 5s;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.loader div::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  display: block;
  width: 5px;
  height: 5px;
  background: transparent;
  -webkit-box-shadow: 0 4px 8px 0 rgba(70, 70, 85, 0.9), 0 6px 20px 0 rgba(70, 70, 85, 0.9);
          box-shadow: 0 4px 8px 0 rgba(70, 70, 85, 0.9), 0 6px 20px 0 rgba(70, 70, 85, 0.9);
  opacity: 0;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.loader div:nth-child(2),
.loader div:nth-child(2)::before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader div:nth-child(3),
.loader div:nth-child(3)::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader div:nth-child(4),
.loader div:nth-child(4)::before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.loader div:nth-child(5),
.loader div:nth-child(5)::before {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.loader div:last-of-type {
  -webkit-animation-name: tilt-last;
          animation-name: tilt-last;
}

.loader div:last-of-type::before {
  -webkit-animation-name: strech-last;
          animation-name: strech-last;
}

@-webkit-keyframes tilt {
  10% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  60% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes tilt {
  10% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  60% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes tilt-last {
  10% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  60% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes tilt-last {
  10% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  60% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes stretch {
  10% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
    width: 10px;
    opacity: 1;
    left: 0px;
    bottom: -1px;
  }
  60% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
    width: 10px;
    opacity: 1;
  }
  70% {
    width: 5px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes stretch {
  10% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
    width: 10px;
    opacity: 1;
    left: 0px;
    bottom: -1px;
  }
  60% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
    width: 10px;
    opacity: 1;
  }
  70% {
    width: 5px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@-webkit-keyframes stretch-last {
  10% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: 0.5;
    left: 3px;
    bottom: -1px;
  }
  60% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: 0.5;
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 5px;
    height: 5px;
    opacity: 0;
  }
}

@keyframes stretch-last {
  10% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: 0.5;
    left: 3px;
    bottom: -1px;
  }
  60% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: 0.5;
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 5px;
    height: 5px;
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.1rem;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fffbfe;
  color: #2a2d34;
  font-family: forma-djr-micro, sans-serif;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */