@import "partials/variables";
@import "partials/menu";
@import "partials/custom";
@import "partials/index";
@import "partials/image";

@import "partials/products";
@import "partials/details";
@import "partials/cart";
@import "partials/editProduct";
@import "partials/footer";
@import "partials/form";
@import "partials/message";
@import "partials/loader";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0.1rem;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $color-white;
	color: $color-primary;
	font-family: $font-secondary;
	font-weight: $font-weight-secundary;
}
