@import "partials/div";
@import "partials/menu";
@import "partials/custom";
@import "partials/index";
@import "partials/image";

@import "partials/products";
@import "partials/details";
@import "partials/cart";
// @import "partials/logIn";
@import "partials/editProduct";
@import "partials/footer";
@import "partials/form";
@import "partials/message";
@import "partials/loader";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//font-family: mrs-eaves-roman-petite-caps, sans-serif;
	// font-weight: $color-background;
	// background-color: $color-white;
	letter-spacing: 0.1rem;
}
