$color-primary: #2a2d34;
$color-navbar: #464655;
$color-accent: #a33b20;
$color-green: #4da167;
$color-error: #a31621;
$color-yellow: #fffc31;
$color-white: #fffbfe;
$color-grey: #889696;
$color-mint: #f4fff8;

$font-primary: mrs-eaves, serif;
$font-secondary: mrs-eaves-roman-lining, sans-serif;

$font-light: 400;
$font-bold: 700;

body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $color-white;
	color: $color-primary;
}
