.edit-form .buttons {
	margin-top: 1rem;
	display: flex;

	button {
		color: $color-thirtiary;
		border: none;
		box-shadow: none;
		padding: 1rem;
	}

	.delete {
		background-color: $color-darkgrey;
	}

	#update {
		background-color: $color-secundary;
	}
}

.uploadImage {
	display: flex;
}

.featured {
	background-color: $color-thirtiary;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	border-radius: 34px;
}

.featured span {
	position: absolute;
	cursor: pointer;
	background-color: $color-darkgrey;
	top: 2px;
	bottom: 2px;
	left: 4px;
	right: 0;
	bottom: 0;
	content: "";
	height: 26px;
	width: 26px;
	transition: 0.4s;
	border-radius: 34px;
	transform: translate(2px, 2px);
}

.featured span.active {
	background-color: $color-secundary;
	transform: translateX(26px);
	transition: 0.4s;
	box-shadow: 0 0 1px $color-primary;
}
