.edit-form .buttons {
	position: relative;
	margin: 1rem auto 0;
	width: 60%;
	display: flex;
	justify-content: space-between;

	button {
		font-family: $font-primary;
		font-weight: $font-weight-secundary;
		font-size: 1.5rem;
		text-transform: uppercase;
		color: $color-white;
		border: 1px thin $color-accent;
		box-shadow: none;
		padding: 1.5rem;
		box-shadow: 0 4px 8px 0 rgba($color: $color-navbar, $alpha: 0.5),
			0 6px 20px 0 rgba($color: $color-navbar, $alpha: 0.5);
	}

	.delete {
		position: absolute;
		background-color: transparent;
		color: $color-accent;
		border: 1px solid $color-accent;
		right: 0;

		@media only screen and (max-width: 670px) {
			position: relative;
		}
	}

	#update {
		background-color: $color-accent;
	}

	@media only screen and (max-width: 750px) {
		display: block;
	}
}

.uploadImage {
	display: flex;
}

.featured {
	background-color: $color-white;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	border-radius: 34px;
}

.featured span {
	position: absolute;
	cursor: pointer;
	background-color: $color-grey;
	top: 2px;
	bottom: 2px;
	left: 4px;
	right: 0;
	bottom: 0;
	content: "";
	height: 26px;
	width: 26px;
	transition: 0.4s;
	border-radius: 34px;
	transform: translate(2px, 2px);
}

.featured span.active {
	background-color: $color-accent;
	transform: translateX(26px);
	transition: 0.4s;
	box-shadow: 0 0 1px $color-navbar;
}
