footer {
	background-color: $color-primary;
	margin-top: 40px;
	text-transform: uppercase;
}

.footerContainer {
	color: $color-white;
	padding-top: 40px;

	a {
		color: $color-white;
		text-decoration: none;
	}
}

.mediaLinks {
	width: 100%;
	padding-bottom: 40px;

	ul {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			padding: 0px 3.5px;
			list-style: none;
		}
	}
}

.navigationLinks {
	max-width: 100%;
	padding-bottom: 40px;

	ul {
		display: flex;
		margin: 0 auto;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		li {
			padding: 0px 24px;
			list-style: none;
		}
	}
}

.copyright {
	max-width: 100%;
	padding-bottom: 40px;
	text-align: center;

	ul {
		margin: 0 auto;

		li {
			padding: 0px 24px;
			list-style: none;
		}
	}
}
