.container {
	width: 90%;
}
.banner-container {
	width: 100%;
	height: 60vh;
	margin: 0 auto;
	background-color: red;
	overflow: hidden;

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.active {
	color: red;
}

