.logInForm,
.edit-form,
.add-form {
	margin: 40px auto;
	width: 90%;
	font-size: 16px;
	background: #495c70;
	padding: 60px;
	border-radius: 5px;
	text-align: center;

	@media only screen and (min-width: 970px) {
		width: 60%;
		padding: 120px;
	}

	input,
	label {
		font-size: 16px;
		color: #fff;
	}

	div {
		display: block;
		margin-bottom: 10px;
	}

	label {
		display: inline-block;
		float: left;
		width: 30%;

		@media only screen and (max-width: 650px) {
			width: 100%;
			padding-bottom: 20px;
			padding-top: 20px;
		}
	}

	input {
		background: transparent;
		border: none;
		border-bottom: 1px dashed #83a4c5;
		width: 60%;
		outline: none;
		padding: 0;
	}

	button {
		background: #576e86;
		border: none;
		padding: 8px 10px 8px 10px;
		border-radius: 5px;
		color: #a8bace;
		cursor: pointer;
	}

	button:hover,
	input:hover {
		background: #394d61;
	}
}
