nav {
	position: relative;
	width: 100vw;
	height: 30vh;
}

.main-nav {
	padding: 1rem 1rem;
	margin: 0;
	width: 100vw;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $color-white;

	.logo {
		width: 20%;
		max-height: 100%;
		padding: 5px;
		margin-bottom: 1rem;

		img {
			width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}

	.main-links {
		text-align: end;
		padding-top: 0.5rem;
		margin-left: auto;
		width: 40%;
		height: 100%;
		padding-right: 1rem;

		a {
			color: $color-navbar;
			text-decoration: none;
		}

		.user,
		.logOut {
			font-size: 0.8rem;
		}

		.nav-cart {
			padding-top: 2rem;
			font-size: 2rem;

			span {
				font-size: 0.8rem;
				padding: 5px 10px;
				background-color: $color-accent;
				border-radius: 50%;
				color: $color-background;
				vertical-align: top;
				margin-left: -15px;
			}
		}

		button {
			background: transparent;
			border: none;
			margin-top: 0.5rem;
		}
	}
	@media only screen and (max-width: 768px) {
		.main-links {
			.user,
			.logOut {
				font-size: 0.5rem;
			}
			.nav-cart {
				width: 100%;

				font-size: 1.5rem;

				span {
					font-size: 0.7rem;
					padding: 2px;
				}
			}

			button {
				padding-right: 1rem;

				span {
					display: none;
				}
			}
		}

		.user {
			display: block;
		}

		.logo {
			margin-left: 35%;
			transform: translate(-35%);
			width: 100%;
			height: 100%;

			img {
				height: 100%;
				width: 100%;
			}
		}
	}
}

.nav-links {
	height: 40%;
	position: absolute;
	width: 100%;
	background-color: $color-navbar;

	ul {
		width: 100%;
		height: 100%;
		list-style: none;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	a {
		text-decoration: none;
		color: $color-background;
		font-family: $font-primary;
		font-size: $font-bold;
		font-size: 1.8rem;
	}

	.active {
		text-decoration: 3px underline solid $color-accent;
	}
}

.hamburger {
	display: none;
	div {
		width: 25px;
		height: 3px;
		margin: 5px;
		background-color: $color-navbar;
	}
}

@media screen and (max-width: 768px) {
	html {
		overflow-x: hidden;
	}
	body {
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	.nav-links {
		z-index: 2;
		position: absolute;
		left: 0px;
		width: 100vw;
		height: 82vh;
		top: 18vh;
		background-color: $color-navbar;

		transform: translateX(-100%);
		transition: transform 0.8s ease-in-out;
		ul {
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		a {
			color: $color-background;
		}
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.nav-active {
		transform: translateX(0%);
	}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(-100px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);
		}
	}

	.toggle .line1 {
		transform: rotate(-45deg) translate(-5px, 6px);
	}
	.toggle .line2 {
		opacity: 0;
	}
	.toggle .line3 {
		transform: rotate(45deg) translate(-5px, -6px);
	}
}
