nav {
	position: relative;
	width: 100vw;
	height: 25vh;
	font-family: $font-primary;
	font-weight: $font-weight-primary;
}

.main-nav {
	padding: 0.5rem 1rem;
	margin: 0;
	width: 100vw;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #2a2d34;

	.logo {
		max-width: 100%;
		max-height: 100%;
		padding-top: 1rem;
		margin-bottom: 1rem;

		img {
			max-width: 50%;
			max-height: 100%;
			object-fit: contain;
		}
	}

	.main-links {
		width: 40%;
		height: 100%;
		padding-right: 1rem;
		color: #f4fff8;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 1rem;

		a {
			color: $color-white;
			text-decoration: none;
		}

		i {
			font-size: 1.2rem;
			margin-left: 1rem;
		}

		.nav-cart {
			font-size: 1.5rem;
			position: relative;

			span {
				position: absolute;
				font-size: 0.8rem;
				padding: 3px 5px;
				background-color: $color-accent;
				border-radius: 50%;
				color: $color-white;
				vertical-align: top;
				margin-left: -5px;
			}
		}

		button {
			color: #f4fff8;
			background: transparent;
			border: none;
			margin-top: 0.5rem;
			padding: 5px;
		}
	}
	@media only screen and(max-width: 400px) {
		.nav-cart-count {
			letter-spacing: 0;
		}
	}

	@media only screen and (max-width: 768px) {
		.main-links {
			.user,
			.logOut {
				font-size: 0.5rem;
			}
			.user {
				padding: 0;
				margin: 0;
			}
			.userName {
				display: none;
			}
			.nav-cart {
				width: 100%;

				font-size: 1.5rem;

				span {
					font-size: 0.7rem;
					padding: 2px;
				}
			}

			button {
				padding-right: 1rem;

				span {
					display: none;
				}
			}
		}

		.user {
			display: block;
		}

		.logo {
			margin-left: 35%;
			transform: translate(-35%);
			width: 100%;
			height: 100%;

			img {
				height: 100%;
				width: 100%;
			}
		}
	}
}

.nav-links {
	height: 50%;
	position: absolute;
	width: 100%;
	background-color: #889696;

	ul {
		width: 100%;
		height: 100%;
		list-style: none;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	a {
		text-decoration: none;
		color: $color-white;
		font-family: $font-primary;
		font-size: $font-weight-secundary;
		font-size: 1.8rem;
	}

	.active {
		text-decoration: 3px underline solid $color-accent;
	}
}

.hamburger {
	display: none;
	div {
		width: 25px;
		height: 3px;
		margin: 5px;
		background-color: $color-white;
	}
}

@media screen and (max-width: 768px) {
	html {
		overflow-x: hidden;
	}
	body {
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	.nav-links {
		z-index: 2;
		position: absolute;
		left: 0px;
		width: 100vw;
		height: 87.5vh;
		top: 12.5vh;
		background-color: $color-primary;

		transform: translateX(-100%);
		transition: transform 0.8s ease-in-out;
		ul {
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		a {
			color: $color-white;
		}
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.nav-active {
		transform: translateX(0%);
	}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(-100px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);
		}
	}

	.toggle .line1 {
		transform: rotate(-45deg) translate(-5px, 6px);
	}
	.toggle .line2 {
		opacity: 0;
	}
	.toggle .line3 {
		transform: rotate(45deg) translate(-5px, -6px);
	}
}
