.message {
	padding: 2rem;
	font-size: 2rem;
}

.error {
	color: $color-navbar;
	background-color: rgba($color: $color-accent, $alpha: 0.8);
}

.sucsess {
	color: $color-thirtiary;
	background-color: rgba($color: $color-green, $alpha: 0.8);
}

.warning {
	color: $color-secundary;
	background-color: rgba($color: $color-yellow, $alpha: 0.8);
}
