.products-container {
	width: 100%;
	margin: 5vh auto;

	@media only screen and (max-width: 768px) {
		margin: -10vh auto 5vh;
	}
}

.search {
	display: block;
	width: 80%;
	margin: 0px auto;
	padding: 1rem 0.5rem;
	border: 1px solid $color-navbar;
}

.products {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.product {
	width: 100%;
	background-color: $color-navbar;
	margin: 1rem 0.5rem;

	a {
		text-decoration: none;
		color: $color-white;
		display: flex;
	}

	.product-img {
		width: 100px;
		height: 150px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.product-info {
		width: 50%;
		margin-left: 1rem;
		text-align: left;
		font-size: 2rem;
	}

	@media only screen and (min-width: 500px) {
		width: 45%;

		a {
			display: block;
		}

		.product-img {
			width: 100%;
			height: 200px;
		}

		.product-info {
			width: 100%;
			height: 100px;
		}
	}

	@media only screen and (min-width: 700px) {
		width: 30%;
	}

	@media only screen and (min-width: 1030px) {
		width: 20%;
	}
}
