$color-primary: #2a2d34;
$color-navbar: #464655;
$color-accent: #a33b20;
$color-green: #4da167;
$color-error: #a31621;
$color-yellow: #fffc31;
$color-white: #fffbfe;
$color-grey: #889696;
$color-mint: #f4fff8;

$font-primary: albiona, sans-serif;
$font-secondary: forma-djr-micro, sans-serif;

$font-weight-primary: 600;
$font-weight-secundary: 500;
